<div dui-processing processing="loadStatus">
<h1 class="f18 mt_15">人员管理</h1>

<!--搜索条件 begin -->
<div class="boxWrapBlue pd_10 mt_15 clearfix">
	<table width="780" cellspacing="0" cellpadding="3" border="0" class="left">
		<tr>	
			<td align="right" width="60">状态：</td>
  			<td width="100">	
                <select ng-model="params.status" ng-options="e.key as e.value for e in constants.empStatus">
			        <option value="">请选择</option>
			    </select>
			</td>
			<td width="60" align="right">入职日期：</td>
  			<td width="180">	
  				<input type="text" class="txtDate" ng-model="$parent.params.dateFrom" date-picker readonly="readonly" /> - <input type="text" class="txtDate" ng-model="$parent.params.dateTo" date-picker readonly="readonly" />
			</td>
			<td align="right">关键字：</td>
  			<td>	
				<input type="text" class="txtNew tt280" name="keyword" ng-model="keyword" id="keyword" placeholder="请输入工号或姓名">
			</td>
		</tr>
    </table>
	<div class="right center bdL_ccc" style="width:120px">
		<a href="javascript:;" ng-click="search()" class="btn-small btn-blue in_block">搜索</a>
	</div>
</div>
<!--搜索条件 end -->

<!--搜索结果 begin -->
<p class="clearfix mt_15">
	<span class="left">共有 <b class="red">{{list.totalCount}}</b> 条符合条件的结果</span>
	<span class="right">
		<a href="javascript:;" class="btn-small btn-red in_block ml_10 js_add" ng-click="initDate()">初始数据</a>
		<a href="javascript:;" class="btn-small btn-green in_block ml_10 js_add" ng-click="employee.oper = 'add'">新增人员</a>
	</span>
</p>

<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableListNew mt_5">
	<tr class="trHead">
		<td>工号</td>
		<td>姓名</td>
		<td>部门</td>
		<td>岗位</td>
		<td>入职日期</td>
		<td>状态</td>
		<td>操作</td>
	</tr>
	<tr ng-repeat="employee in list.pageList">
		<td>{{employee.userCode}}</td>
		<td><a href="/biyesheji/detail/{{employee.userCode}}">{{employee.userName}}</a></td>
		<td>{{employee.orgName}}</td>
		<td>{{employee.position}}</td>
		<td>{{employee.createdAt | date:'yyyy-MM-dd'}}</td>
		<td>{{employee.status}}</td>
		<td>
			<a href="javascript:;" class="btn-small btn-silver in_block js_edit" ng-click="toEmployeeUpdate(employee.userCode)">编辑</a>
			<a href="javascript:;" class="btn-small btn-red in_block" ng-click="remove(employee.userCode)">删除</a>
		</td>
	</tr>
</table>

<!--搜索结果 end -->

<div paginator display-num="5" show-jump="true" record-count="list.totalCount" page-size="list.pageSize" current-page="params.pageNo"></div>

<!-- 人员编辑和新增的组件 -->
<employee popup-params="employee" constants="constants"></employee>

</div>